:root {
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
  width: 100%; 
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #F5F7FB;
}

/***** homepage *****/

.homepage {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F5F7FB;
  height: 100vh;
}

.homepage--title {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  color: #293264;
  margin-bottom: 5px;
}

.homepage--h3 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

/***** quiz page *****/

.quiz--container {
  height:100vh;
  color: #293264; 
  font-family: Karla;
  padding-top: 1%;
  font-weight: 900;
  text-align: center;
}

.questions {
  line-height: 36px;
}              

.quiz--questions {
  border-bottom: 2px solid #DBDEF0;
  padding-bottom: 2%;
}

/***** scores *****/

.scores-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.scores {   
  font-family: 'Inter';
  font-size: 19px;
  line-height: 15px;
  margin-right: 20px;  
  color: #293264;
}


/***** answers *****/

.selected {
  background: #D6DBF5;
}

.incorrect {
  background: #F8BCBC;
}

.correct {
  background: #94D7A2;
}

/***** buttons *****/

button {
  cursor: pointer;
}

.answers-btn {
  border: 0.771045px solid #4D5B9E;
  border-radius: 8px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  margin: 5px;
  color: #293264;
}

.start-btn, 
.checkAnswer-btn, 
.goToHome-btn, 
.playAgain-btn {
  background: #4D5B9E;
  border-radius: 15px;  
  width: 190px;
  height: 52px;
  font-weight: 400;
  font-size: 17px;
  border-style: none;
  color: #F5F7FB;
}

.checkAnswer-btn {
  margin-top: 10px;
}
